
<div class="container">
  <div>
    <button class="btn btn-success" (click)="novo()">NOVO</button>
    <button class="btn btn-primary" (click)="mensagem()">DEFINIR MENSAGEM</button>

  </div>
  <br>
  <div >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">NOME</th>
          <th scope="col">TELEFONE</th>
          <th scope="col">CONTATO</th>
          <th scope="col">OPÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.numeroTelefone}}</td>
          <td>{{cliente.contato }}</td>
          <td>
            <button class="btn btn-primary" type="submit" (click)='remove(cliente)'>REMOVER</button>
            <button class="btn btn-primary" type="submit" (click)='edit(cliente)'>EDITAR</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


