<div class="container">
  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-between" >
      <button class="btn btn-success" (click)="novo()">NOVO</button>
      <button mat-flat-button class="button-importar" color="primary" (click)="importarArquivos()">IMPORTAR</button>
    </div>
    <button mat-flat-button color="primary" (click)="mensagem()">DEFINIR MENSAGEM</button>
  </div>
  <br>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">NOME</th>
          <th scope="col">CIDADE</th>
          <th scope="col">TELEFONE</th>
          <th scope="col">EMAIL</th>
          <th scope="col">OPÇÃO</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row"
          *ngFor="let cliente of clientes | paginate: { itemsPerPage: contador, currentPage: paginaAtual };">
          <td>{{cliente.nome}}</td>
          <td>{{cliente.cidade}}</td>
          <td>{{cliente.telefone}}</td>
          <td>{{cliente.email }}</td>
          <td>
            <button class="button-remove" mat-mini-fab color="warn" type="submit" (click)='remove(cliente)'>
              <mat-icon>clear</mat-icon>
            </button>
            <button mat-mini-fab color="primary" type="submit" (click)='edit(cliente)'>
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
      <pagination-controls (pageChange)="paginaAtual = $event"></pagination-controls>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <button mat-flat-button color="primary" (click)="inciarWhatsApp()" [disabled]="!flagEnviarContatos">INICIAR
      WHATSAPPWEB</button>

    <button class="btn btn-success" type="submit" (click)="enviar()" [disabled]="flagEnviarContatos"> ENVIAR</button>
  </div>
</div>
